@charset "UTF-8";
/*Шрифт*/
@font-face {
  font-family: "Avenir Next";
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/avenir-next-700.woff2") format("woff2"), url("../../fonts/avenir-next-700.woff") format("woff");
}
@font-face {
  font-family: "Avenir Next";
  font-weight: 600;
  font-style: normal;
  src: url("../../fonts/avenir_next-demi.woff2") format("woff2"), url("../../fonts/avenir_next-demi.woff") format("woff");
}
@font-face {
  font-family: "Avenir Next";
  font-weight: 500;
  font-style: normal;
  src: url("../../fonts/avenir-next-500.woff2") format("woff2"), url("../../fonts/avenir-next-500.woff") format("woff");
}
/*Normolize*/
html {
  font-family: "Avenir Next", sans-serif;
  line-height: 1.15;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

@-ms-viewport {
  width: device-width;
}
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  font-family: "Avenir Next", Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  color: #000000;
  background-color: #ffffff;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

hr {
  overflow: visible;
  box-sizing: content-box;
  height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  cursor: help;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  border-bottom: 0;
}

address {
  font-style: normal;
  line-height: inherit;
  margin-bottom: 1rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

dfn {
  font-style: italic;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  transition: all 0.3s;
  text-decoration: underline;
  color: #b82030;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  text-decoration: none;
  color: #b82030;
}

a:not([href]):not([tabindex]) {
  text-decoration: none;
  color: inherit;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  text-decoration: none;
  color: inherit;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

a:focus {
  outline: none;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

pre {
  overflow: auto;
  margin-top: 0;
  margin-bottom: 1rem;
}

figure {
  margin: 0 0 1rem;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

a,
area,
button,
[role=button],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  caption-side: bottom;
  text-align: left;
  color: #868e96;
}

th {
  text-align: left;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button:focus {
  outline: none;
}

input,
button,
select,
optgroup,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  transition: all 0.3s;
  outline: none;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type=radio],
input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

input[type=date],
input[type=time],
input[type=datetime-local],
input[type=month] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  font-size: 1.5rem;
  line-height: inherit;
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0.5rem;
  padding: 0;
  white-space: normal;
  color: inherit;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.text {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6;
  color: #8E9199;
}

.title {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
  color: #000;
}

.header {
  padding: 25px 0;
}
.header__container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 45px;
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav__item {
  margin-right: 25px;
  list-style: none;
}
.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 3.2;
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
}
.nav__link:hover {
  color: #674AF2;
}

.mobile-screen {
  position: relative;
  width: 300px;
  height: 600px;
  padding: 27px 16px 18px;
  z-index: 50;
}
.mobile-screen::before {
  position: absolute;
  width: 300px;
  height: 600px;
  top: 0;
  left: 0;
  content: "";
  background: url(../img/mobile-frame.svg) 100% 100% no-repeat;
}

.reach__mobile-screen {
  padding: 10px 17px 18px;
}

.start__mobile-screen {
  padding-top: 11px;
}

.become__mobile-screen {
  padding: 15px 18px 18px;
}

.home {
  padding: 55px 0;
}
.home__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home__content {
  width: 59.375%;
}
.home__title {
  margin: 0 0 24px;
}
.home__text {
  margin: 0 0 40px;
}

.slide-card {
  width: 940px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.slide-card__wrapper {
  display: flex;
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 32px;
  background-color: #fff;
  padding: 30px;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.05), -7px 7px 15px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}

.trainers {
  position: relative;
  padding-top: 40px;
  padding-bottom: 100px;
}
.trainers::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 715px;
  top: -75px;
  background-color: #674AF2;
  transform: skewY(-18deg);
}
.trainers__titel {
  position: relative;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.28;
  color: #fff;
  margin-bottom: 75px;
}
.trainers__img {
  margin-left: 34px;
  margin-right: 8px;
  margin-bottom: 18px;
}
.trainers__name {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.53;
  color: #424756;
}
.trainers__text {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33;
  color: #424756;
}
.trainers__card {
  align-items: center;
  padding-bottom: 28px;
  padding-top: 13px;
}

.reach {
  padding: 70px 0;
}
.reach__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reach__content {
  width: 53.125%;
}
.reach__titel {
  margin: 0 0 24px;
  padding-right: 20px;
}
.reach__text {
  margin: 0 0 36px;
}

.reviews {
  position: relative;
  padding-top: 95px;
  padding-bottom: 80px;
}
.reviews::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 715px;
  top: -120px;
  bottom: 0;
  background-color: #674AF2;
  transform: skewY(-18deg);
}
.reviews__titel {
  width: 32.1875%;
  margin-bottom: 75px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.28;
  color: #fff;
}
.reviews__name {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.53;
  color: #424756;
  margin-bottom: 6px;
}
.reviews__star {
  width: 110px;
  height: 18px;
  margin-bottom: 16px;
  background: url(../img/star.svg) 100%/contain no-repeat;
}
.reviews__text {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.64;
  color: #424756;
}
.reviews__card {
  height: 411px;
}

.start {
  padding: 45px 0 120px;
}
.start__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.start__container--about {
  padding-bottom: 100px;
}
.start__content {
  width: 41.3043478261%;
}
.start__titel {
  margin: 0 0 24px;
  padding-right: 20px;
}
.start__text {
  margin: 0 0 36px;
}

.footer {
  background-color: #F1F2F5;
  padding-top: 40px;
  padding-bottom: 35px;
}
.footer__container {
  display: flex;
}
.footer__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__nav-item {
  margin-right: 25px;
}
.footer__nav-item:last-child {
  margin-right: 0;
}
.footer__nav-link {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.94;
  color: #8E9199;
  text-decoration: none;
}
.footer__nav-link:hover {
  color: #8E9199;
}

.improve {
  padding-top: 65px;
  padding-bottom: 40px;
}
.improve__title {
  text-align: center;
  margin-bottom: 72px;
}
.improve__stat {
  display: flex;
  margin-right: -71px;
}
.improve__item {
  width: calc(33.3333333333% - 71px);
  margin-right: 71px;
  padding-top: 35px;
  background: url(../img/icon-leaves.svg) no-repeat 100%/contain;
}
.improve__item:first-child {
  padding-top: 22px;
}
.improve__item:first-child .improve__item-number {
  font-size: 64px;
}
.improve__item:last-child .improve__item-number {
  text-transform: uppercase;
}
.improve__item-number {
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 0.43;
  color: #FFBA53;
  margin-bottom: 30px;
  text-align: center;
}
.improve__item-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.53;
  padding-left: 45px;
  padding-right: 45px;
  text-align: center;
}

.offer {
  padding-top: 48px;
  padding-bottom: 10px;
}
.offer__title {
  text-align: center;
  margin-bottom: 65px;
}

.stage {
  display: flex;
  align-items: center;
  margin-bottom: 56px;
}
.stage__img {
  width: 311px;
  height: 200px;
  background: linear-gradient(244deg, #FDFEFF 11.37%, #ECF1FB 100%);
  margin-right: 70px;
}
.stage__img--personalized {
  padding: 21px 35px;
}
.stage__img--chat {
  padding: 16px 42px 0 44px;
}
.stage__img--promote {
  padding: 0 31px 0;
}
.stage__item {
  width: 55.9782608696%;
}
.stage__item-titel {
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.11;
  color: #000;
  margin-bottom: 27px;
}
.stage__item-text {
  width: 90.2912621359%;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.53;
  color: #8E9199;
}

.btn {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 2.9;
  color: #fff;
  border-radius: 5px;
  background-color: #674AF2;
  text-decoration: none;
  border: none;
  padding: 0 80px;
  text-transform: capitalize;
}
.btn:hover {
  color: #000;
  background-color: rgba(103, 74, 242, 0.8784313725);
  transition: all 0.3s ease-in;
}

.become {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 65px;
  padding-bottom: 40px;
}
.become__content {
  width: 58.6956521739%;
  padding-right: 90px;
}
.become__title {
  margin-bottom: 32px;
}
.become__text {
  margin-bottom: 32px;
}

.works {
  padding-top: 45px;
  padding-bottom: 125px;
}
.works__stage {
  padding-bottom: 45px;
}
.works__title {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 64px;
}
.works__btn {
  text-align: center;
}

.careers {
  flex-grow: 1;
  text-align: center;
  padding-top: 65px;
}
.careers__title {
  margin-bottom: 24px;
}
.careers__text {
  margin-bottom: 40px;
}
.careers__action {
  margin-bottom: 32px;
}
.careers__btn {
  padding: 0 85px;
}

.contact {
  flex-grow: 1;
  padding-top: 65px;
  text-align: center;
}
.contact__title {
  margin-bottom: 24px;
  text-transform: capitalize;
}
.contact__text {
  margin-bottom: 40px;
}
.contact__btn {
  padding: 0 105px;
}/*# sourceMappingURL=main.css.map */