
.wrapper {
    height: 4000px;
    overflow: hidden;
    background: linear-gradient(162deg, transparent 0px 909px, $body-bg-line 911px 1593px, transparent 1595px 2282px, $body-bg-line 2284px 2967px, transparent 2969px );
    }
.container {
    width: 100%;
    max-width: 960px;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    }