/*Шрифт*/

@font-face {
    font-family: $font-name;
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/avenir-next-700.woff2') format('woff2'), url('../fonts/avenir-next-700.woff') format('woff');
  }
  @font-face {
    font-family: $font-name;
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/avenir_next-demi.woff2') format('woff2'), url('../fonts/avenir_next-demi.woff') format('woff');
  }
  @font-face {
    font-family: $font-name;
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/avenir-next-500.woff2') format('woff2'), url('../fonts/avenir-next-500.woff') format('woff');
  }

