// Fonts

$font-name: 'Avenir Next';
$font-family-base: $font-name, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
$font-size-base: 1rem;


// Color
$body-bg: #fff;
$violet: #674AF2;
$grey: #8E9199;
$black: #000;
$white: #fff;
$grey-dark:#424756;

