// Fonts

$font-name: 'Avenir Next';
$font-family-base: $font-name, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
$font-size-base: 1rem;
$font-bold: 700;
$font-demi: 600;
$font-regular: 500;

// Color
$body-bg: #fff;
$body-bg-line: #674AF2;
$body-color: #8E9199;
$card-text-color:#424756;
$title-color-1: #000;
$title-color-2: #fff;
$mobile-frame: #F1F2F5;

