.careers{
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    padding-top: 65px;
    &__title{
        margin-bottom: 24px;
    }
    &__text{
        margin-bottom: 40px;
    }
    &__action{
        margin-bottom: 32px;
    }
    &__btn{
        padding: 0 84px;
    }
}