.slide-card{
    display: flex;
    position: relative;
    margin-left: -16px;
    margin-right: -16px;
}
.card{
    width: calc(100% / 3 - 32px);
    display: flex;
    flex-direction: column;
    border-radius: 32px;
    background-color: $white;
    padding: 30px;
    margin-right: 16px;
    margin-left: 16px;
    box-shadow: 7px 7px 15px rgba(0,0,0,0.05), -7px 7px 15px rgba(0,0,0,0.05);
}
.trainers{
    &__card{
        align-items: center;
        padding-bottom: 28px;
        padding-top: 13px;
    }
}
.reviews{
    &__card{
        height: 411px;
        padding: 30px;
    }
}