.slide-card{
    width: 940px;
    padding-bottom: 20px;
    padding-right: 20px;
}
.slide-card__wrapper{
    display: flex;
    position: relative;
}
.card{
    min-height: 411px;
    display: flex;
    flex-direction: column;
    border-radius: 32px;
    background-color: $white;
    padding: 30px;
    box-shadow: 7px 7px 15px rgba(0,0,0,0.05), -7px 7px 15px rgba(0,0,0,0.05);
    box-sizing: border-box;
}
