.home {
    padding: 55px 0;
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content{
        width: 570px * 100% /960px;
    }
   
}


