.improve{
    padding-top: 65px;
    padding-bottom: 40px;
    &__title{
        text-align: center;
        margin-bottom: 72px;
    }
    &__stat{
        display: flex;
        margin-right: -71px;
    }
    &__item{
        width: calc(100% / 3 - 71px);
        margin-right: 71px;
        padding-top: 35px;
        background: url(../img/icon-leaves.svg) no-repeat 100%/contain;
        &:first-child{
            padding-top: 22px;
        }
        &:first-child .improve__item-number {
            font-size: 64px;
        }
        &:last-child .improve__item-number {
            text-transform: uppercase;
        }
    }
    &__item-number{
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: 0.43;
        color: $orange;
        margin-bottom: 30px;
        text-align: center;
    }
    &__item-text{
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.53;
        padding-left: 45px;
        padding-right: 45px;
        text-align: center;
    }
}
.offer{
    padding-top: 48px;
    padding-bottom: 10px;
    &__title{
        text-align: center;
        margin-bottom: 65px;
    }
}
