.title{
    text-align: center;
    margin-bottom: 72px;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25;
    color: $black;
}
.improve{
    padding-top: 65px;
    padding-bottom: 40px;
    &__stat{
        display: flex;
        margin-right: -71px;
    }
    &__item{
        width: calc(100% / 3 - 71px);
        margin-right: 71px;
        padding-top: 35px;
        background: url(../../img/icon-leaves.svg) no-repeat 100%/contain;
        &:first-child{
            padding-top: 22px;
        }
        &:first-child .improve__item-number {
            font-size: 64px;
        }
        &:last-child .improve__item-number {
            text-transform: uppercase;
        }
    }
    &__item-number{
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: 0.43;
        color: $orange;
        margin-bottom: 30px;
        text-align: center;
    }
    &__item-text{
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.53;
        padding-left: 45px;
        padding-right: 45px;
        text-align: center;
    }
}
.offer{
    padding-top: 48px;
}
.stage{
    display: flex;
    align-items: center;
    margin-bottom: 56px;
    &:nth-last-child(2) .stage__item-text{
        padding-right: 80px;
    }
    &__img{
        width: 311px;
        height: 200px;
        background: linear-gradient(244deg, #FDFEFF 11.37%, #ECF1FB 100%);
        margin-right: 70px;
        &--personalized{
        padding: 21px 35px;
        }
        &--chat{
            padding: 16px 42px 0 44px;
        }
    }
    &__item{
        width: 435px * 100% /920px;
    }
    &__item-titel{
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.11;
        color: $black;
        margin-bottom: 27px;
    }
    &__item-text{
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.53;
        color: $grey;
        padding-right: 45px;
    }

}

