.reach {
    padding: 90px 0;
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content{
        width: 510px * 100% /960px ;
    }
    &__titel {
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.25;
        color: $black;
        margin-bottom: 24px;
        padding-right: 20px;
    }
}
