.start {
    padding: 60px 0 140px;
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content{
        width: 380px * 100% /920px ;
    }
    &__titel {
        padding-right: 20px;
    }
    &-page2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 120px;
    }
}
