.start {
    padding: 45px 0 120px;
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--about{
            padding-bottom: 100px;
        }
    }
    &__content{
        width: 380px * 100% /920px ;
    }
    &__titel {
        padding-right: 20px;
    }
}
