.trainers__container--fd{
    flex-direction: column
}
.trainers__titel{
    @include text-style (50px, $font-bold, 1.28, $title-color-2);
    width: 309 * 100% / 960;
    margin-bottom: 75px;
    text-align: center;
}
.slide-card{
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
}
.trainers{
    padding-top: 40px;
    padding-bottom: 80px;
    &__card{
        padding-bottom: 28px;
        padding-top: 13px;
        margin-right: 16px;
        margin-left: 16px;
    }
    &__img{
      margin-left: 34px;
      margin-right: 8px;
   }
    &__name{
        @include text-style (18px, $font-demi, 1.53, $card-text-color)
    }
    &__text{
        @include text-style (12px, $font-regular, 2.29, $card-text-color)
    }

}