.trainers{
    position: relative;
    padding-top: 40px;
    padding-bottom: 100px;
    &::before{
        position: absolute;
        content: '';
        width: 100%;
        height: 715px;
        top: -75px;
        background-color: $violet;
        transform: skewY(-18deg);
    }
    &__titel{
        width: 309 * 100% / 960;
        margin-bottom: 75px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.28;
        color: $white;
    }
    &__img{
      margin-left: 34px;
      margin-right: 8px;
      margin-bottom: 18px;
   }
    &__name{
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.53;
        color: $grey-dark;
        
    }
    &__text{
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.33;
        color: $grey-dark;
    }
}
